body{
    margin: 0;
}
/* start på sida*/
.container{
    height: 2000px;
    border: 1px solid black;
}
.header{
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.body{
    height: 900px;
    border: 1px solid black;
}
/* slut på sida*/

/* start på länkar*/
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: brown;
}
/* slut på länkar*/

/* start på listor*/


.list{
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.list_title{
    border-bottom: 1px solid black;
    height: 20px;
}
.ul_list{
    width: 100px;
    height: 200px;
    border: 1px solid black;
}
.ol_list{
    width: 100px;
    height: 200px;
    border: 1px solid black;
}

.dl_list{
    width: 100px;
    height: 200px;
    border: 1px solid black;
}
/* slut på listor*/




/* start på forms*/

.form_title{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.forms{
    height: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textbox_div{
    width: 100px;
    height: 100px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.checkbox_div{
    width: 100px;
    height: 100px;
    border: 1px solid black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.radio_div{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.select_div{
    width: 100px;
    height: 100px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textarea_div{
    width: 100px;
    height: 100px;
    
}

/* Slut på forms*/

.example{
    height: 500px;
    border: 1px solid black;
}




.footer{
    height: 500px;
    border: 1px solid black;
}
