/*css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    min-width: 50px;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-around;
    flex-shrink: 3 ;
}
