body{
    min-height: 100vh;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

h1{
    border: 2px dashed blue;
    width: 50%;
    font-size: 32px;
    text-align: center;
}


h2{
    border: 2px solid blue;
    width: 115px;
}

p{
    font-size: 2rem;
    width: 40ch;
    border: 2px solid black;
}

.hover_class:hover{
    color: white;
    background-color: black;
    border: 2px solid red;
}

.bild{
    display: block;
    margin: auto;
}

