
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.main-grid{
    display: grid;
    gap: 0.5rem;
    background-color: #333;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "box2 box2 box2"
    "box1 box1 box3"
    "box4 box5 box3"
    "box4 box5 box3";
}


.grid-article{
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 2.5rem;
    border: 1px solid orangered;
    background-color: #333;

}

.grid-article:nth-child(1){
    background-color: blue;
    grid-area: box1;
}


.grid-article:nth-child(2){
    background-color: yellow;
    grid-area: box2;
}

.grid-article:nth-child(3){
    background-color: lightblue;
    grid-area: box3;
}

.grid-article:nth-child(4){
    background-color: lightblue;
    grid-area: box4;
    height: 400px;
}

.grid-article:nth-child(5){
    background-color: purple;
    grid-area: box5;
}





.center{
    display: flex;
    align-items: center;
    justify-content: center;
}



.b-color{
    color: orangered;
}



li{
    display: inline;
    padding: 10px;
}

a{
    text-decoration: none;
    color: #333;

}

a:hover{
    color: orangered;
    text-decoration: underline;
    animation: underline 0.5s;
}

footer{
    height: 3rem;
}

