/* Variables */

/*start färger*/
$main-color: orangered;
$background-color: #333;
/*slut färger*/


/*start font weight*/
$font-weights: (
    "regular": 400,
    "medium": 200,
    "smal": 100
)
/*slut font weight*/