/* variables */
$hd-ft-color: rgb(63, 2, 63);
$aside-color: lightblue;
$text-color:white;
$light: rgb(204, 83, 204);
$backgound-1:blue;
$hover-color:yellow;

$font-size: (
    "regular": 40px,
    "medium": 20px,
    "smal": 10px
)

