@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

	background-color: pink;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.container {
    width: 100px;
    height: 100px;
    position: relative;
}

.heart {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: pulse 1.5s infinite;
    position: absolute;
    top: 0;
    left: 0;
}

.heart-link {
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
}

.heart-link:hover .heart {
    animation-play-state: paused; /* Pausa animationen när länken hovras över */
}

.heart::before,
.heart::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
}

.heart::before {
    left: -50px;
}

.heart::after {
    top: -50px;
}



.infocontainer{
	height: 450px;
	width: 200px;
	padding:10px;
	border: 1px solid red;
	background-color: #ffffd0;

	display: flex;
    align-items: center;
    flex-direction: column;

	/* display: flex;
	justify-content: center; */
}

.back{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.back-timer{
    display: flex;
    align-items: end;
    justify-content: end;
}

a{
    text-decoration: none;
    color: red;
}

.present{
    animation: present 30s ease-in;
}


@keyframes present{
    from{
        transform: translatex(-800px)
    }

    to{
        transform: translatex(0);
    }
}

h2{
    font-size: 2rem;
    font-weight: bold;
    
}
 
hr{
    border: 1px solid red;
    opacity: 40%;
}

.cd-container{
    min-height: 100vh;
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown{
display: flex;
justify-content: space-around;
text-align: center;
}


.day, .hour, .minute, .second{
    font-size: 1rem;
}

p{
    font-family: 'Mooli', sans-serif;
}