/*
Sass = Syntsctically awasome sylesheet
install SASS extension in VSC called Live Sass Compiler v6.1.1 by Glenn Marks
SASS is a pre-processing language

First SASS file
*/

/* Skapade varialer*/

@import "variables";
@import "function";
@import "mixin";






.main{
    background-color: $second-color;
    color: $text-color;

    @include theme(false);
    /* @include center; /* mitt namn från @mixin*/ 
    .section{
        font-weight: weight(bold)
    }
    .p1 {
        font-weight: weight(medium);
        color: mycolors(orange);
        @extend .p2; /* ärver allt från p2*/
    }

    .p2{
        @include fontstyle();
        @include hide(false);
    }

    .p3{
        @include background(false)
    }



    /* #{&} pratar med parent */
}






