*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}


/*#153677, #4e085f #718502 - Orginal färg*/
.container{
    width: 100%;
    min-height: 100vh;
    background:  linear-gradient(135deg, #153677, lightblue);
    padding: 10px;
}

/*start på todo app */
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #65002f;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 50px;
    margin-left: 10px;
    border-radius: 50%;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

.Btn{
    border: none;
    outline: none;
    padding:  13px 40px;
    background: #4548ff;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/check.png.jpeg);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}
/*slut på todo app */

/*start på knapp för att byta sida*/
.checkbox-wrapper {
    display: flex;
    justify-content: flex-end; /* Placera checkbox längst åt höger */
    align-items: center;
    position: relative;
    padding-bottom: 20px;
    padding-right: 20px;
  }


input[type="checkbox"].toggle{
    opacity: 0;
    position: absolute;
    left: -9000;
    top: -9000;
}

input[type="checkbox"].toggle + label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle + label::before{
    content: "";
    width: 2em;
    height: 1em;
    background-color: #DDD;
    border-radius: .50em;
    transition: 200ms ease-in-out;

}

input[type="checkbox"].toggle + label::after{
    position: absolute;
    right: .1em;
    content: "";
    width: .9em;
    height: .9em;
    background-color: blue;
    border-radius: 1em;
    margin-left: 1em;
    transition: 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked + label::after{
   right: 1em;
   background-color: pink;

}
/*slut på knapp för att byta sida*/



/*start på länk för att gå till tips på val*/
a{
    display: flex;
    align-items: right;
    justify-content: left;
    font-size: 15px;

    text-decoration: none;
    color: pink;
}

a:hover{
    text-decoration: underline;
}

.recept{
    height: 20px;
    display: flex;
    justify-content: center;
}

.veg{
    padding: 10px;
}

.asi{
    padding: 10px;
}
.pasta{
    padding: 10px;
}

.random{
    padding: 10px;
}


/*slut på länk för att gå till tips på val*/


/* start på random knapp*/

.random-body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.randomBtn{
    text-align: center;
    color: pink;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    border-radius: 60%;
    padding:  16px 30px;
}

/* slut på random knapp*/


/*start på recept sidor*/

.all_recept{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    font-size: 15px;
    cursor: pointer;
}
